{%extends "layout.html"%}
{%block content%}
<!--
    code adapted from examples in:
    Pallets, “Template Designer Documentation,” Jinja. [Online]. Available: https://jinja.palletsprojects.com/en/3.1.x/templates/. [Accessed: 22-Mar-2023]. 
    TechnoDine, Create a dynamic website with python - python from scratch - creating website with Flask- Lesson 36. 2020. https://www.youtube.com/watch?v=5Wx7U58SKhg&ab_channel=TechnoDine
-->
<div class="default">
    <h1>Default Page</h1>
    <p>This is a test website.</p>
</div>
{%endblock%}