{%extends "layout.html"%}
{%block content%}

<!--
    code adapted from examples in:
    Pallets, “Template Designer Documentation,” Jinja. [Online]. Available: https://jinja.palletsprojects.com/en/3.1.x/templates/. [Accessed: 22-Mar-2023]. 
    TechnoDine, Create a dynamic website with python - python from scratch - creating website with Flask- Lesson 36. 2020. https://www.youtube.com/watch?v=5Wx7U58SKhg&ab_channel=TechnoDine
-->
<body>
    <div>
        <h3>User Area</h3>
        <a>{{current_user.user_name}}</a>
    </div>
    <div class="home">
        <h3>Subscription Area</h3>
        <table>
            <tr>
                <th>Year</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Artist Image</th>
                <th>Action</th>
            </tr>
            {% for i in subscribed%}
                <tr>
                    <th>{{i.year}}</th>
                    <th>{{i.artist}}</th>
                    <th>{{i.title}}</th>
                    <th><img src="{{i.presigned_url}}"></th>
                    <th>
                        <form method="POST">
                            <input name="web_url" type="hidden" value="{{i.web_url}}">
                            <button type="submit" name="remove_subscription">Remove</button>
                        </form>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div class="home">
        <h3>Query Area</h3>
        <form method="POST">
            <div>
                <label for="title">Title</label>
                <input type="title" placeholder="Please enter title" name="title">
    
                <label for="artist">Artist</label>
                <input type="artist" placeholder="Please enter artist" name="artist">
    
                <label for="year">Year</label>
                <input type="year" placeholder="Please enter year" name="year">
    
                <button type="submit" name="query">Query</button>
            </div>
        </form>
        <br>
        <div> 
            <table>
                <tr>
                    <th>Year</th>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Artist Image</th>
                    <th>Action</th>
                </tr>
            {% for results in results %}
                <tr>
                    <th>{{results.year}}</th>
                    <th>{{results.artist}}</th>
                    <th>{{results.title}}</th>
                    <th><img src="{{results.presigned_url}}"></th>
                    <th>
                        <form method="POST">
                            <input name="web_url" type="hidden" value="{{results.web_url}}">
                            <button  type="submit" name="add_subscription">Subscribe</button>
                        </form>
                    </th>
                </tr>
            {% endfor %}
            </table>
            
        </div>
    </div>
</body>

{%endblock%}